html, body {
    background-image: url("bkgd-2.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  .all {
    background: rgba(7, 19, 136, 0.5);
    border-style: dotted;
    color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica;
    
     
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 50%;
  }
  
  .left, .right {

    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
      
  }
  h3{
      text-align: center;
      color: rgb(230, 57, 115);
      font-size: x-large;

  }
  img{
    vertical-align: middle;
    width: 175px;
    height:175px;
    border-radius: 50%;
  }
  
  .left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .links {
    list-style: none;
    padding-left: center;
    font-size: 18px;

  }
  
  .links li {
    display: inline-block;
  }
 
  .links a {
    text-decoration: none;
    padding: 20px;
    color: rgb(243, 147, 2);
  }
  
  .links a:hover {
    background-color: rgba(248, 150, 204, 0.2);
    border-radius: 10px;
  }
  
  .button{
        font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-align: center;
        border: 2px solid rgba(87, 0, 145, 0.973);
        background: rgba(178, 121, 231, 0.904);
        color: rgba(87, 0, 145, 0.884);
        box-shadow: 1px 1px 2px rgba(110, 0, 200, 0.4);
        border-radius: 10px;
        padding: 3px 10px;
        display: inline-block;
        cursor: pointer;
      }
  }
  